@import "tailwindcss";

@theme inline {
    --shadow-aceternity: 0 2px 3px -1px rgba(0, 0, 0, 0.1), 0 1px 0px 0px rgba(25, 28, 33, 0.02),
        0 0px 0px 1px rgba(25, 28, 33, 0.08);

    --color-primary: var(--color-neutral-700);
    --color-secondary: var(--color-neutral-500);

    --animate-move: move 5s linear infinite;

    @keyframes move {
        0% {
            transform: translateX(-200px);
        }
        100% {
            transform: translateX(200px);
        }
    }
}
